.home{
    margin-right: 6px;
    font-size: 1.1em;
}

/* パンくずリスト */
#breadcrumb{
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
    list-style: none;
}
#breadcrumb>li{
    display: inline-block;
    padding-right: 6px
}
#breadcrumb>li+li::before{
    content: ">";
    padding-bottom: 1px;
    padding-right: 8px;
}

/* 右寄せ */
.right{
    float: right !important;
    margin-left: 10px !important;
}

/* Form */
.form-required::after{
    content: "必須";
    display: inline-block;
    width: 27px;
    background-color: #f00;
    color: #fff;
    text-align: center;
    font-size: 10px;
    position: relative;
    top: -1px;
    margin: 3px;
    font-weight: normal;
}
.form-optional::after{
    content: "任意";
    display: inline-block;
    width: 27px;
    background-color: #09f;
    color: #fff;
    text-align: center;
    font-size: 10px;
    position: relative;
    top: -1px;
    margin: 2px 5px;
    font-weight: normal;
}

/* Table */
.groups{
    border: 1px solid #ccc;
    border-top: 2px solid #f90;

}
.cell{
    padding: 6px 12px;
}
th{
    text-align: center;
}
td{
    vertical-align: middle !important;
    padding: 8px 18px !important;
}
th, td{
    border-right: 1px dotted #dfdfdf;
}
.btn-edit-col{
    text-align: center;
    width: 83px;
}

/* 休日の色 */
.sun{
    color: #ff2e2e;
}
.sat{
    color: #2e2eff;
}

/* xButton */
.btn.del{
    color: #0085ff;
    background-color: #fff;
    font-size: 1.25em
    padding: 0 7px;
}
